@use "../scss/variables.scss" as *;
.apartment-page {
    color: $primary-color;
    div:first-child {
        margin-bottom: 1rem;
    }
    h1 {
        font-weight: 400;
        margin-block: 0;
    }
    h2 {
        font-weight: 400;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
        font-size: 20px;
    }
    img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .apartment_header {
        display: flex;
        .apartment_title {
            flex-grow: 1;
        }
        .apartment_owner_details {
            display: flex;
            gap: .5rem;
        }
        .apartment_owner_badge {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $grid-background-dark;
        }
        .apartment_owner_stars {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;
            * {
                font-size: 1.5rem;
            }
            .on {
                color: $primary-color;
            }
            .off {
                color: $grid-background-dark;
            }
        }
        h3 {
            margin-block: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-weight: 400;
        }
    }
    & .apartment_tags {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
        gap: 1rem;
        span {
            background-color: $primary-color;
            color: $tertiary-color;
            padding: 0.3em 1em;
            border-radius: .7em;
            text-align: center;
        }
    }
    .apartment_description_area {
        display: flex;
        gap: 1rem;
    }
}