@use "../scss/variables.scss" as *;
.apartment-page {
    color: $primary-color;
    .apartment_description_area {
        display: flex;
        gap: 1rem;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}