@use "../scss/variables.scss" as variables;
.apartement {
    background: linear-gradient(to top, variables.$secondary-color, variables.$primary-color);
    border-radius: 1rem;
    flex-basis: 30%;
    display: grid;
    align-items: end;
    min-width: 200px;
    min-height: 200px;
    @media screen and (max-width: 768px) {
        & {
            flex-basis: 100%;
        }
    }
    & &_subtitle {
        width: 50%;
        margin-inline-start: .5rem;
        margin-block-end: .5rem;
        color: variables.$tertiary-color;
    }
}