@use "../scss/variables.scss" as *;
.apartment_description {
    p {
        margin-block: 0;
    }
    .description_header {
        background-color: $primary-color;
        color: $tertiary-color;
        padding: 0.2em 1em;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .description_content {
        position: relative;
        top: -0.3rem;
        z-index: -1;
        background-color: $background-light;
        color: $primary-color;
        padding: 1rem;
        border-radius: 0.7rem;
    }
}