.navbar {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    height: 68px;
    max-width: 95%;
    margin: 0 auto;
    color: var(--red);
    font-family: 'Montserrat';
    font-style: normal;
    font-size: clamp(12px, 2.5vw, 24px);
}

.Navbar_logo {
    margin-right: auto;
    height: 60%;
}