@use "../scss/variables.scss" as variables;
.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    color: variables.$primary-color;
    font-family: variables.$font-family;
    font-size: clamp(12px, 2.5vw, 24px);
    &>*:first-child {
        margin-right: auto;
    }
    & a {
        text-decoration: none;
        color: variables.$primary-color;
    }
    &.active,
    &:hover {
        text-decoration: underline;
    }
}