$primary-color:#ff6060;
$secondary-color:#863535;
$tertiary-color:white;
$grid-background-dark: rgba(0, 0, 0, 0.119);
$background-light:#f7f7f7;
$grid-background-light:white;
$footer-background-color:#000;
$font-family:"Montserrat" sans-serif;