@use "../scss/variables.scss" as variables;
.footer {
    background-color: variables.$footer-background-color;
    color: variables.$tertiary-color;
    padding: 20px;
    text-align: center;
    min-height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
}